polkit.addRule(function(action, subject) {
    if (action.id == "com.archcosta.installer.helper") {
        return subject.isInGroup("wheel");
    }
});
