[Desktop Entry]
Type=Application
Name=ArchCosta Welcome
Exec=archcosta-welcome
Icon=archcosta
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
OnlyShowIn=XFCE;Cinnamon;GNOME;KDE;
